<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us Page || KingsVine Yard Farms</title>
{% include 'farmapp/links.html' %}
</head>
<body>


</header>
<div class="stricky-header stricked-menu main-menu">
<div class="sticky-header__content"></div>
</div>
<section class="page-header">
<div class="page-header__bg" style="background-image: url(https://res.cloudinary.com/dxojb4izx/image/upload/v1650711122/farm/assets/images/backgrounds/page-header-bg-1-1_xnknnx.jpg);"></div>

<div class="container">
<ul class="thm-breadcrumb list-unstyled">
<li><a href="{% url 'home' %}">Home</a></li>
<li>/</li>
<li><span>About</span></li>
</ul>
<h2>About Us</h2>
</div>
</section>
<section class="service-one service-one__about">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-4">
<div class="service-one__box">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710715/farm/assets/images/services/service-1-1_e0nac5.jpg" alt="">
<div class="service-one__box-content">
<h3><a href="service-details.html">Agriculture Leader</a></h3>
</div>
</div>
</div>
<div class="col-md-12 col-lg-4">
<div class="service-one__box">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710729/farm/assets/images/services/service-1-2_zratyo.jpg" alt="">
<div class="service-one__box-content">
<h3><a href="service-details.html">Quality Standards</a></h3>
</div>
</div>
</div>
<div class="col-md-12 col-lg-4">
<div class="service-one__box">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710718/farm/assets/images/services/service-1-3_twc4ka.jpg" alt="">
<div class="service-one__box-content">
<h3><a href="service-details.html">Organic Services</a></h3>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="client-carousel client-carousel__has-border-top client-carousel__about-page">
<div class="container">
<div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 140, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
<div class="swiper-wrapper">
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
<div class="swiper-slide">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
</div>
</div>
</div>
</div>
</div>
<section class="team-one">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710549/farm/assets/images/icons/team-bg-1-1_nqvdrl.png" alt="" class="team-one__bg">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-12 col-xl-5">
<div class="team-one__content">
<div class="block-title">
<div class="block-title__image"></div>
<p>meet the team</p>
<h3>Expert Farmers</h3>
</div>
<div class="team-one__summery">
<p>KingsVine yard farms is a company whose aim is to bring proper recognition to the 
    farming industry as it plays a big role from being the main source of raw materials to 
    being a nations national revenue  .</p>
</div>

<div class="team-one__nav">
<div class="swiper-button-prev" id="team-one__swiper-button-next"><i class="agrikon-icon-left-arrow"></i>
</div>
<div class="swiper-button-next" id="team-one__swiper-button-prev"><i class="agrikon-icon-right-arrow"></i></div>
</div>
</div>
</div>
</div>
</div>
<div class="team-one__carousel-wrap">
<div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 0, "slidesPerView": 1, "slidesPerGroup": 1, "autoplay": { "delay": 5000 }, "navigation": {
            "nextEl": "#team-one__swiper-button-next",
            "prevEl": "#team-one__swiper-button-prev"
        },"breakpoints": {
            "0": {
                "spaceBetween": 0,
                "slidesPerView": 1,
                "slidesPerGroup": 1
            },
            "640": {
                "spaceBetween": 30,
                "slidesPerView": 2,
                "slidesPerGroup": 2
            },
            "992": {
                "spaceBetween": 30,
                "slidesPerView": 3,
                "slidesPerGroup": 3
            },
            "1200": {
                "spaceBetween": 30,
                "slidesPerView": 3,
                "slidesPerGroup": 3
            }
        }}'>
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="team-card">
<div class="team-card__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651592673/farm/assets/images/WhatsApp_Image_2022-04-30_at_3.50.59_AM_a4vkld.jpg" alt="Jessica Brown">
<div class="team-card__social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<h3>Kingsvine Yard Farms</h3>
<p>Staff</p>
</div>
</div>
<div class="swiper-slide">
<div class="team-card">
<div class="team-card__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651592673/farm/assets/images/WhatsApp_Image_2022-04-30_at_3.50.59_AM_a4vkld.jpg" alt="Kingsvine Yard Farms">
<div class="team-card__social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<h3>Kingsvine Yard Farms</h3>
<p>Staff</p>
</div>
</div>
<div class="swiper-slide">
<div class="team-card">
<div class="team-card__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651592673/farm/assets/images/WhatsApp_Image_2022-04-30_at_3.50.59_AM_a4vkld.jpg" alt="Kingsvine Yard Farms">
<div class="team-card__social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<h3>Kingsvine Yard Farms</h3>
<p>Staff</p>
</div>
</div>
<div class="swiper-slide">
<div class="team-card">
<div class="team-card__image">
 <img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651592673/farm/assets/images/WhatsApp_Image_2022-04-30_at_3.50.59_AM_a4vkld.jpg" alt="Kingsvine Yard Farms">
<div class="team-card__social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<h3>Kingsvine Yard Farms</h3>
<p>Staff</p>
</div>
</div>
<div class="swiper-slide">
<div class="team-card">
<div class="team-card__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651592673/farm/assets/images/WhatsApp_Image_2022-04-30_at_3.50.59_AM_a4vkld.jpg" alt="Kingsvine Yard Farms">
<div class="team-card__social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<h3>Kingsvine Yard Farms</h3>
<p>Staff</p>
</div>
</div>
<div class="swiper-slide">
<div class="team-card">
<div class="team-card__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651592673/farm/assets/images/WhatsApp_Image_2022-04-30_at_3.50.59_AM_a4vkld.jpg" alt="Kingsvine Yard Farms">
<div class="team-card__social">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<h3>Kingsvine Yard Farms</h3>
<p>Staff</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="testimonials-one testimonials-one__about">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710574/farm/assets/images/icons/testimonials-bg-1-1_szf1hm.png" class="testimonials-one__bg" alt="">
<div class="container">
<h2 class="testimonials-one__title">Farming Quotes</h2>
<div id="testimonials-one__carousel" class="testimonials-one__carousel swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="testimonials-one__icons">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</div>
<p>When it is understood that one loses joy and happiness in the attempt to possess them, the essence of natural farming will be realized. The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of human beings</p>
</div>
<div class="swiper-slide">
<div class="testimonials-one__icons">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</div>
<p>“A farm includes the passion of the farmer's heart, the interest of the farm's customers, the biological activity in the soil, the pleasantness of the air about the farm -- it's everything touching, emanating from, and supplying that piece of landscape</p>
</div>
<div class="swiper-slide">
<div class="testimonials-one__icons">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</div>
<p>The first supermarket supposedly appeared on the American landscape in 1946. That is not very long ago. Until then, where was all the food? Dear folks, the food was in homes, gardens, local fields, and forests. It was near kitchens, near tables, near bedsides. It was in the pantry, the cellar, the backyard.</p>
</div>
</div>
</div>
<div id="testimonials-one__thumb" class="swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide">
<!-- <div class="testimonials-one__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651325236/farm/assets/images/Fukuoka_Masanobu_fuqgia.jpg" alt="">
</div>
</div>
<div class="swiper-slide">
<div class="testimonials-one__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651325235/farm/assets/images/joe_v5sapa.jpg" alt="">
</div>
</div>
<div class="swiper-slide">
<div class="testimonials-one__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651325235/farm/assets/images/joe_v5sapa.jpg" alt="">
</div> -->
</div>
</div>
</div>
<div id="testimonials-one__meta" class="testimonials-one__carousel swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="testimonials-one__meta">
<h4>Masanobu Fukuoka</h4>
<!-- <span>Customer</span> -->
</div>
</div>
<div class="swiper-slide">
<div class="testimonials-one__meta">
<h4>Joel Salatin</h4>
<!-- <span>Customer</span> -->
</div>
</div>
<div class="swiper-slide">
<div class="testimonials-one__meta">
<h4>Joel Salatin</h4>
<!-- <span>Customer</span> -->
</div>
</div>
</div>
</div>
<div class="swiper-pagination" id="testimonials-one__swiper-pagination"></div>
</div>
</section>
<section class="about-three">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="about-three__image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710692/farm/assets/images/resources/about-3-2_dc2cgk.jpg" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="about-three__content">
<div class="block-title">
<div class="block-title__image"></div>
<p>Get to know us</p>
<h3>We are woking on creating</h3>
</div>

<ul class="about-three__list list-unstyled">
<li>
<i class="fa fa-check-circle"></i>
Awareness of the importance of farming
</li>
<li>
<i class="fa fa-check-circle"></i>
Jobs for various youths around Nigeria
</li>
<li>
<!-- <i class="fa fa-check-circle"></i>
Entum estibulum dignissim
</li>
<li>
<i class="fa fa-check-circle"></i>
Entum estibulum dignissim
</li> -->
</ul>
<div class="about-three__summery">
<p>Nigeria has an arable land area of 34 million hectares: 6.5 million hectares for permanent crops, and 28.6 million hectares on meadows and pastures. Agriculture accounts for about 24 percent of Nigeria's GDP. The country is a leader in various types of agricultural production, such as palm oil, cocoa beans, pineapple, and sorghum. It is the largest producer of sorghum in the world just after the United States, and ranks fifth in the production of palm oil and cocoa beans.  </p>
</div>
<!-- <div class="about-three__signs">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710677/farm/assets/images/resources/about-3-1_vforqm.png" alt="">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710694/farm/assets/images/resources/sign-1-1_nq0isn.png" alt=""> -->
</div>
</div>
</div>
</div>
</div>
</section>
<section class="call-to-action jarallax" data-jarallax="" data-speed="0.3" data-imgposition="-80% 50%">
<img class="call-to-action__bg jarallax-img" src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650711122/farm/assets/images/backgrounds/cta-1-bg-1_aq6rdt.jpg" alt="parallax-image">

<div class="container">
<div class="call-to-action__content">
<i class="call-to-action__icon agrikon-icon-agriculture-2"></i>
<h3>We’re a big advocate for the agriculture
market globally</h3>
</div>
<div class="call-to-action__button">
<a href="{% url 'service' %}" class="thm-btn">Discover More</a>
</div>
</div>
</section>
{% include 'farmapp/footer.html' %}

</body>
</html>