<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KingsVine Yard Farms</title>

{% include 'farmapp/links.html' %}

</head>
<body>

<div class="stricky-header stricked-menu main-menu">
<div class="sticky-header__content"></div>
</div>
<section class="main-slider">
<div class="swiper-container thm-swiper__slider" data-swiper-options='{
        "slidesPerView": 1,
        "loop": true,
        "effect": "fade",
        "autoplay": {
            "delay": 5000
        },
        "navigation": {
            "nextEl": "#main-slider__swiper-button-next",
            "prevEl": "#main-slider__swiper-button-prev"
        }
    }'>
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="image-layer" style="background-image: url(https://res.cloudinary.com/dxojb4izx/image/upload/v1650710651/farm/assets/images/main-slider/main-slider-1-1_r6tvec.jpg);">
</div>

<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-7">
<span class="tagline">Welcome to KingsVine Yard Farm</span>
<h2><span>Agriculture</span> <br>
& Livestock Farming</h2>
<p>At Kingsvine yard farms, our aim is to deliver the best quality products to our customers and clients.</p>
<a href="#" class=" thm-btn">Discover More</a>

</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="image-layer" style="background-image: url(https://res.cloudinary.com/dxojb4izx/image/upload/v1650710599/farm/assets/images/main-slider/main-slider-1-2_saymfd.jpg);">
</div>

<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-7">
<span class="tagline">Welcome to KingsVine Yard Farm</span>
<h2><span>Agriculture</span><br>
& Eco Farming</h2>
<p>At Kingsvine yard farms, our aim is to deliver the best quality products to our customers and clients.</p>
<a href="#" class=" thm-btn">Discover More</a>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</div>
</div>
</div>
</div>
</div>

<div class="main-slider__nav">
<div class="swiper-button-prev" id="main-slider__swiper-button-next"><i class="agrikon-icon-left-arrow"></i>
</div>
<div class="swiper-button-next" id="main-slider__swiper-button-prev"><i class="agrikon-icon-right-arrow"></i></div>
</div>
</div>
</section>
<section class="service-one">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
<div class="service-one__box">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710761/farm/assets/images/services/service-d-1-1_kts8xf.jpg" alt="">
<div class="service-one__box-content">
<h3><a href="#">Agriculture Leader</a></h3>
</div>
</div>
</div>
<div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
<div class="service-one__box">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710757/farm/assets/images/services/service-d-1-2_ygc13g.jpg" alt="">
<div class="service-one__box-content">
<h3><a href="#">Quality Standards</a></h3>
</div>
</div>
</div>
<div class="col-md-12 col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
<div class="service-one__box">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710718/farm/assets/images/services/service-1-3_twc4ka.jpg" alt="">
<div class="service-one__box-content">
<h3><a href="#">Organic Services</a></h3>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="about-one">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710562/farm/assets/images/icons/about-bg-icon-1-1_lfzsc9.png" class="about-one__bg-shape-1" alt="">
<div class="container">
<div class="row">
<div class="col-lg-5">
<div class="about-one__images">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710675/farm/assets/images/resources/about-1-1_wodqa1.jpg" alt="">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710678/farm/assets/images/resources/about-1-2_itpgwc.jpg" alt="">
<div class="about-one__count wow fadeInLeft" data-wow-duration="1500ms">
<span>Trusted by</span>
<h4>8900</h4>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="about-one__content">
<div class="block-title text-left">
<div class="block-title__image"></div>
<p>Welcome to kingsvine yard farms</p>
<h3>Better Agriculture for
Better Future</h3>
</div>
<div class="about-one__tagline">
<p>We have years of agriculture & eco farming experience</p>
</div>
<div class="about-one__summery">
<p>At Kingsvine yard farms, our aim is to deliver the best quality products to our customers and clients.</p>
</div>
<div class="about-one__icon-row">
<div class="row">
<div class="col-lg-6">
<div class="about-one__box">
<i class="agrikon-icon-farmer"></i>
<h4><a href="#">Professional
Farmers</a></h4>
</div>
</div>
<div class="col-lg-6">
<div class="about-one__box">
<i class="agrikon-icon-agriculture"></i>
<h4><a href="#">Organic & Eco
Solutions</a></h4>
</div>
</div>
</div>
</div>
<a href="#" class="thm-btn">Discover More</a>
</div>
</div>
</div>
</div>
</section>
<section class="service-two">
<div class="service-two__bottom-curv"></div>
<div class="container">
<div class="block-title text-center">
<div class="block-title__image"></div>
<p>Our Services list</p>
<h3>What We’re Offering</h3>
</div>
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="service-two__card">
<div class="service-two__card-image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650812814/farm/assets/images/snaill_myqcpy.webp" alt="">
</div>
<div class="service-two__card-content">
<div class="service-two__card-icon">
    <svg style="width:50px;" viewBox="0 0 24 24">
        <path fill="currentColor" d="M20.31 8.03L21.24 4.95C21.67 4.85 22 4.47 22 4C22 3.45 21.55 3 21 3S20 3.45 20 4C20 4.26 20.11 4.5 20.27 4.68L19.5 7.26L18.73 4.68C18.89 4.5 19 4.26 19 4C19 3.45 18.55 3 18 3S17 3.45 17 4C17 4.47 17.33 4.85 17.76 4.95L18.69 8.03C17.73 8.18 17 9 17 10V12.25C15.65 9.16 12.63 7 9.11 7C5.19 7 2 10.26 2 14.26C2 16.1 2.82 17.75 4.1 18.85L2.88 19C2.38 19.06 2 19.5 2 20C2 20.55 2.45 21 3 21L19.12 21C20.16 21 21 20.16 21 19.12V11.72C21.6 11.38 22 10.74 22 10C22 9 21.27 8.18 20.31 8.03M15.6 17.41L12.07 17.86C12.5 17.1 12.8 16.21 12.8 15.26C12.8 12.94 10.95 11.06 8.67 11.06C8.14 11.06 7.62 11.18 7.14 11.41C6.65 11.66 6.44 12.26 6.69 12.75C6.93 13.25 7.53 13.45 8.03 13.21C8.23 13.11 8.45 13.06 8.67 13.06C9.85 13.06 10.8 14.04 10.8 15.26C10.8 16.92 9.5 18.27 7.89 18.27C5.75 18.27 4 16.47 4 14.26C4 11.36 6.29 9 9.11 9C12.77 9 15.75 12.06 15.75 15.82C15.75 16.36 15.69 16.89 15.6 17.41Z" />
    </svg>
</div>
<h3><a href="#">Snail Farming</a></h3>
<p>We rear and trade snails .</p>
</div>

</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="service-two__card">
<div class="service-two__card-image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650738830/farm/assets/images/chicken_prmsu2.jpg" alt="">
</div>
<div class="service-two__card-content">
<div class="service-two__card-icon">
<i class="fa-solid fa-egg"></i>
</div>
<h3><a href="#">Poultry Farming</a></h3>
<p>We rear and trade poultry birds. </p>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="service-two__card">
<div class="service-two__card-image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650738692/farm/assets/images/cow_nomh2h.jpg" alt="">
</div>
<div class="service-two__card-content">
<div class="service-two__card-icon">
    <i class="fa-solid fa-cow"></i>
</div>
<h3><a href="#">Livestock Farming</a></h3>
<p>We are also into livestock rearing and trading </p>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="service-two__card">
<div class="service-two__card-image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1651483904/farm/assets/images/catfish_drf5ha.jpg" alt="">
</div>
<div class="service-two__card-content">
<div class="service-two__card-icon">
    <i class="fa-solid fa-fish"></i>
</div>
<h3><a href="#">Catfish Farming</a></h3>
<p>We are also into rearing and trading of catfishes</p>
</div> 
</div>
</div>
</div>
</div>
</section>
<div class="projects-one project-one__home-one">

</div>

<section class="gray-boxed-wrapper home-one__boxed">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710545/farm/assets/images/icons/home-1-blog-bg_qrtap1.png" alt="" class="home-one__boxed-bg">
<div class="blog-home-two blog-home-one">
<div class="container">
<div class="row top-row">
<div class="col-lg-6">
<div class="block-title">
<div class="block-title__image"></div>
<p>From the blog post</p>
<h3>Latest News & Articles
Directly from Blog</h3>
</div>
</div>
<div class="col-lg-6">
<p class="block-text">We have a blog section on our website. Below are some of our blog posts. After reading, 
    you can share your insignts and though with us in the comment section.
</p>
</div>
</div>
<div class="row">
{% for post in post %}
<div class="col-md-12 col-lg-4">
<div class="blog-card">
<div class="blog-card__image">
<img src="{{post.thumb}}" alt="Best Way to Do Eco and Agriculture">
<a href="{% url 'pd' post.title %}"></a>
</div>
<div class="blog-card__content">
<div class="blog-card__date">{{post.dou}}</div>
<div class="blog-card__meta">
<a href="#"><i class="far fa-user-circle"></i> {{post.user}}</a>
<a href="#"><i class="far fa-comments"></i> 2 Comments</a>
</div>
<h3><a href="{% url 'pd' post.title %}">{{post.title}}</a></h3>
<a href="{% url 'pd' post.title %}" class="thm-btn">Read More</a>
</div>
</div>
</div>
{% endfor %}
</div>
<hr>
</div>
</div>
<div class="blog-home__slogan">
<div class="container">
<div class="row">
<div class="col-lg-9">
<div class="blog-home__slogan-main">
<i class="agrikon-icon-farm"></i>
<div class="blog-home__slogan-content">
<h3>We Care About Our Agriculture Growth</h3>
<p>Agriculture is the noblest of all alchemy; for it turns earth, and even manure, into gold, conferring upon its cultivator the additional reward of health.</p>
</div>
</div>
</div>
<div class="col-lg-3">
<div class="blog-home__slogan-image">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710682/farm/assets/images/resources/blog-cta-1_lton0b.png" alt="">
</div>
</div>
</div>
</div>
</div>
</section>
<section class="contact-two">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
<div class="contact-two__image">
<div class="contact-two__image-bubble-1"></div>
<div class="contact-two__image-bubble-2"></div>
<div class="contact-two__image-bubble-3"></div>
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710723/farm/assets/images/resources/contact-1-1_wagfnc.jpg" class="img-fluid" alt="">
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
<div class="contact-two__content">
<div class="block-title">
<div class="block-title__image"></div>
<p>Contact now</p>
<h3>Leave Us A
Message</h3>
</div>
<div class="contact-two__summery">
<p>Want to connect with us, we'd love to hear from you and we are here to answer 
    any question you might have. Use the following form to contact us.</p>
</div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
<form action="assets/inc/sendemail.php" method="POST" class="contact-one__form contact-form-validated">
    {% csrf_token %}
<div class="row">
<div class="col-lg-12">
<input type="text" name="name" placeholder="Full Name" required>
</div>
<div class="col-lg-12">
<input type="text" name="email" placeholder="Email Address" required>
</div>
<!-- <div class="col-lg-12">
<input type="text" name="phone" placeholder="Phone Number">
</div> -->
<div class="col-lg-12">
<textarea name="message" placeholder="Write Message" required></textarea>
</div>
<div class="col-lg-12">
<button type="submit" class="thm-btn">Send Message</button>
</div>
</div>
</form>
</div>
</div>
</div>
</section>
<div class="client-carousel client-carousel__has-border-top">
<div class="container">
<div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 140, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
</div>
</div>
</div>
</div>
</div>
{% include 'farmapp/footer.html' %}

</body>
</html>