<div class="preloader">
    <img class="preloader__image" width="55" src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" alt="">
    </div>
    <div class="page-wrapper">
    <header class="main-header">
    <div class="topbar">
    <div class="container">
    <div class="topbar__left">
    <div class="topbar__social">
    <a href="#" class="fab fa-facebook-square"></a>
    <a href="#" class="fab fa-twitter"></a>
    
    <a href="#" class="fab fa-instagram"></a>
    </div>
    <p>Welcome to KingsVine Yard Farm Limited</p>
    </div>
    <div class="topbar__right">
        <a href="#"><span>kingsvinefarm@gmail.com</span></a>
    <a href="#"><i class="agrikon-icon-clock"></i>Mon - Sat 8:00 - 6:30, Sunday - CLOSED</a>
    </div>
    </div>
    </div>
    <nav class="main-menu">
    <div class="container">
    <div class="logo-box">
    <a href="#" style="width: 250px;" aria-label="logo image"><img style="width: 150px;" src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650807434/farm/assets/images/ayo3_nmzyix.png" width="153" alt=""></a>
    <span class="fa fa-bars mobile-nav__toggler"></span>
    </div>
    <ul class="main-menu__list">
    <li class="dropdown">
    <a href="#">Home</a>
    <!-- <ul>
    <li>
    <a href="{% url 'home' %}">Home One</a>
    </li>
    <li><a href="index-2.html">Home Two</a></li>
    <li class="dropdown">
    <a href="#">Header Styles</a>
    <ul>
    <li><a href="{% url 'home' %}">Header One</a></li>
    <li><a href="index-2.html">Header Two</a></li>
    </ul>
    </li>
    </ul> -->
    </li>
    <li>
    <a href="#">About</a>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>


    <!-- <li><a href="#">Service Details</a></li> -->
  
    <!-- <li class="dropdown">
    <a href="#">Projects</a>
    <ul>
    <li><a href="#">Projects</a></li>

    </ul>
    </li> -->
    <!-- <li class="dropdown"><a href="blog.html">News</a>
    <ul>
    <li><a href="blog.html">News</a></li>
    <li><a href="blog-details.html">News Details</a></li>
    </ul>
    </li> -->
    </ul>
    
    <div class="main-header__info">
    <!-- <a href="#" class="search-toggler main-header__search-btn"><i class="agrikon-icon-magnifying-glass" style="margin-right: 10px;"></i></a> -->
    <!-- <a class="main-header__cart-btn" href="#"><i class="agrikon-icon-shopping-cart"></i></a> -->
    <a href="tel:92-+234 803 8669 595" class="main-header__info-phone">
    <i class="agrikon-icon-phone-call"></i>
    <span class="main-header__info-phone-content">
    <span class="main-header__info-phone-text">Call Anytime</span>
    <span class="main-header__info-phone-title">+234 803 8669 595</span>
    </span>
    </a>
    </div>
    </div>
    </nav>
    
    </header>







{% load static %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dxojb4izx/image/upload/v1650711175/farm/assets/images/favicons/apple-touch-icon_xxiqsj.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dxojb4izx/image/upload/v1650711176/farm/assets/images/favicons/favicon-32x32_jahkjp.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dxojb4izx/image/upload/v1650711176/farm/assets/images/favicons/favicon-16x16_v6y26u.png">
<link rel="manifest" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710542/farm/assets/images/favicons/site_kk4aj8.webmanifest">
<meta name="description" content="KingsVive Yard Farms">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650815795/farm/assets/css/main_wvh6m2.css">
<link href="../../../css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719097/farm/assets/css/bootstrap.min_bghsji.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719057/farm/assets/css/fontawesome-all.min_toc6gx.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719028/farm/assets/css/swiper.min_xialat.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719048/farm/assets/css/animate.min_zkfw7e.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719025/farm/assets/css/odometer.min_tnxlnv.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719020/farm/assets/css/jarallax_koxi2k.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719023/farm/assets/css/magnific-popup_llqpje.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719024/farm/assets/css/bootstrap-select.min_zptrw9.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719021/farm/assets/css/agrikon-icons_yzwt2u.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719022/farm/assets/css/nouislider.min_p77b6i.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650719023/farm/assets/css/nouislider.pips_mxcnzo.css">

<!-- <link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650813642/farm/assets/css/main_csirq1.css"> -->




<script data-cfasync="false" src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650712604/farm/assets/js/email-decode.min_dw2mgs.js"></script><script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710800/farm/assets/js/jquery-3.5.1.min_qurgza.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710785/farm/assets/js/bootstrap.bundle.min_mz09r1.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710815/farm/assets/js/swiper.min_mwflxu.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710785/farm/assets/js/jquery.ajaxchimp.min_axmzsh.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710787/farm/assets/js/jquery.magnific-popup.min_ipgktz.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710782/farm/assets/js/jquery.validate.min_owuihm.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710777/farm/assets/js/bootstrap-select.min_l4bhrt.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710788/farm/assets/js/wow_nllfv4.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710784/farm/assets/js/odometer.min_rwud8a.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710785/farm/assets/js/jquery.appear.min_no6o9e.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710780/farm/assets/js/jarallax.min_cjdiyj.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710778/farm/assets/js/circle-progress.min_ytdzac.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710786/farm/assets/js/wNumb.min_z2d3oa.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710784/farm/assets/js/nouislider.min_wsd3in.js"></script>

<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650710787/farm/assets/js/theme_ha705h.js"></script>
<script defer="" src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1650712684/farm/assets/js/v652eace1692a40cfa3763df669d7439c1639079717194_t0sen2" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"7005ecb74bd8780f","token":"72b2ec455a104aa0b3ca4230f1da2518","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>





