<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projects Page </title>
{% include 'farmapp/links.html' %}
</head>

</header>
<div class="stricky-header stricked-menu main-menu">
<div class="sticky-header__content"></div>
</div>
<section class="page-header">
<div class="page-header__bg" style="background-image: url(https://res.cloudinary.com/dxojb4izx/image/upload/v1650711122/farm/assets/images/backgrounds/page-header-bg-1-1_xnknnx.jpg);"></div>

<div class="container">
<ul class="thm-breadcrumb list-unstyled">
<li><a href="{% url 'home' %}">Home</a></li>
<li>/</li>
<li><span>Projects</span></li>
</ul>
<h2>Projects</h2>
</div>
</section>
<div class="projects-one">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="projects-one__single">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710593/farm/assets/images/projects/project-1-1_jgg1lq.jpg" alt="">
<div class="projects-one__content">
<h3>Harvest Innovation</h3>
<a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a>
 </div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="projects-one__single">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710601/farm/assets/images/projects/project-1-2_sotuch.jpg" alt="">
<div class="projects-one__content">
<h3>Harvest Innovation</h3>
<a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="projects-one__single">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710613/farm/assets/images/projects/project-1-3_kwuboi.jpg" alt="">
<div class="projects-one__content">
<h3>Harvest Innovation</h3>
<a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="projects-one__single">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710650/farm/assets/images/projects/project-1-4_btukvf.jpg" alt="">
<div class="projects-one__content">
<h3>Harvest Innovation</h3>
<a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="projects-one__single">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710650/farm/assets/images/projects/project-1-5_i0sf73.jpg" alt="">
<div class="projects-one__content">
<h3>Harvest Innovation</h3>
<a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="projects-one__single">
<img src="https://res.cloudinary.com/dxojb4izx/image/upload/v1650710639/farm/assets/images/projects/project-1-6_q2xoyk.jpg" alt="">
<div class="projects-one__content">
<h3>Harvest Innovation</h3>
<a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
{% include 'farmapp/footer.html' %}

</body>
</html>